<div class="etiqueta">Consumo Energético</div>
<div class="cell">
  <div class="big">
    <div id="aires" class="{{estados.aires}} datoGrande">{{consumo.aires}}<span class="etiquetaTipoDeDato">watts<br><span class="label">Aires</span></span></div>
  </div>
  <div class="small">
    <div id="tomas" class="{{estados.tomas}} datoChico">{{consumo.tomas}}<span class="etiquetaTipoDeDato">watts<br><span class="label">Tomas</span></div>
    <div id="luces" class="{{estados.luces}} datoChico">{{consumo.luces}}<span class="etiquetaTipoDeDato">watts<br><span class="label">Luz</span></span></div>
  </div>    
</div>