<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <SocketStream/>
  <title>Dashboard Cívico</title>

   <script type="text/javascript">
      $(document).ready(function() {
        $('.carousel').carousel({
          interval: 8000,
          wrap: true,
          pause: false
        })
      });
    </script>

</head>

<body>
  <div id="tablero">
    <div class="columna">
      <div class="celda">
        <span id="horalugar">Cargando Lugar...</span>
      </div>
    </div>

    <div id="seccionesCarousel" class="carousel slide tablero" data-ride="carousel">

      <div class="carousel-inner" role="listbox">

        <div id="seccion-ambiente" class="item active">

          <div class="columna">
            <div class="celda">
              <span id="consumoenergetico">Cargando Consumo Energético...</span>
            </div>
          </div>

          <div class="columna">

            <span id="climaExterno">
              <div class="celda">Cargando Temperatura Externa...</div>
            </span>

            <span id="climaInterno">
              Cargando Temperatura Interna...
            </span>

            <span id="calidadAire">
              Cargando Calidad del aire...
            </span>
          </div>
        </div>

        <div id="seccion-ambiente" class="item">
            <div class="columna">
              <div class="celda">
                <span id="horalugar">Cargando Lugar...</span>
              </div>
            </div>
            <div class="columna">
              <span id="subtesChico">Cargando Subtes...</span>

              <span id="estacionbici">Cargando Bicicletas...</span>

            </div>

            <div class="columna">
              <span id="estacionbici">Cargando Autopista...</span>
              <span id="estacionbici">Cargando Tiempo...</span>
              <span id="estacionbici">Cargando Tránsito...</span>
            </div>
          </div>
        </div>

      </div>

    </div>


  </div>

</div>
</body>
</html>
