<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <SocketStream/>
    <title>Dashboard Cívico</title>
</head>

<body>
    <div id="tablero">
        <div class="columna">
          <div class="celda">
            <span id="horalugar">Cargando Lugar...</span>
          </div>
        </div>
        <div class="columna">
          <span id="subtesChico">Cargando Subtes...</span>
          <span id="distancias">Cargando distancias...</span>
          <span id="estacionbici">Cargando Bicicletas...</span>

        </div>

        <div class="columna">
          <span id="estacionbici">Cargando Autopista...</span>
          <span id="estacionbici">Cargando Tiempo...</span>
          <span id="estacionbici">Cargando Tránsito...</span>
        </div>
    </div>
</body>
</html>
